.program {
    padding: 2rem 1rem;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--color-knall-gruen);
    text-transform: uppercase;
}

.description {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: var(--color-knall-pink);
}

ul {
    list-style: outside;
    padding-left: 15px;
}


b {
    color: var(--color-knall-gruen);
}

