.program {
  text-align: left;
  font-weight: 500;
  padding-right: 25px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--color-knall-gruen);
  font-family: var(--jungle);
  text-transform: uppercase;
}

.dayTitle {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--color-knall-gruen);
  text-transform: uppercase;
}

.dayActivities {
  color: var(--color-knall-gruen);
  line-height: 1.6;
}

.dayActivities li {
  margin-bottom: 0.5rem;
}

.time {
  font-weight: 700;
  color: var(--color-dark-green);
  margin-right: 0.5rem;
} 
