.slideshowWrapper {
  display: flex;
  align-items: center;
}

.slideshowContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.image {
  width: 100%;
  display: block;
  height: 200px;
  object-fit: cover;
}

.slideshowSquare {
  aspect-ratio: 1;
  height: auto;
}

.imageSquare {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.arrowLeft,
.arrowRight {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 25px;
  font-weight: bold;
  padding: 0 10px;
}

.arrowLeft:hover,
.arrowRight:hover {
  color: var(--main-color-font);
  background: transparent;
  border: none;
}

.arrowLeft {
  right: 45%;
}

.arrowRight {
  left: 45%;
}
