.ulNavigation {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 5px;
}

.li {
    margin: 0 10px;

    &:hover {
        cursor: pointer;
        //color: var(--color-knall-pink);
        //text-decoration: underline;
        padding: 5px;
        border: 2px solid var(--color-knall-pink);
    }
}
