.about {
  text-align: left;
}

.textContainer {
  padding-left: 10px;
  font-family: var(--montserrat);
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--color-knall-pink);
  font-family: var(--jungle);
}

.imageBorder {
  img {
    border-radius: 53% 47% 68% 32% / 29% 54% 46% 71%;
    height: 498px;
  }
}
