:root {
    --color-entspannt-weiss: #FFFFFF;
    --color-entspannt-schwarz: #222222;
    --color-entspannt-beige: #FFF6ED;
    --color-dunkelgrün: #184027;
    --color-yellow: #F4EEB6;
    --color-blue: #4660E9;
    --color-red: #E94F37;
    --color-green: #D8D629;
    --color-purple: #D0ADCD;
    --color-dark-green: #17968B;
    --color-beige: #F6EFE7;
    --color-knall-orange: #FF6230;
    --color-hell-orange: #FFBE98;
    --color-knall-gruen: #00B2A9;
    --color-light-purple: #E9D0F2;
    --color-alt-rosa: #F8BCCA;
    --color-lila-blau: #7669E9;
    --color-lila-hell: #ABABDE;
    --color-lila-neongelb: #EFF483;
    --color-knall-lila: #6800F3;
    --color-lila-dunkelblau: #5C1AF5;
    --color-normal-lila: #D598FB;
    --color-peach: #FFC494;
    --color-rosa: #F6B594; /* #F9BCCB;*/
    --color-knall-pink: #F597FF;

    --main-color-font: black; /*#F597FF;*/
    --second-color-font: #4660E9; /* #00B2A9;*/


    --main-font: "Poetsen One", sans-serif;
    --jungle: 'jungle', sans-serif;
    --olives: 'Olives', sans-serif;
    --montserrat: 'montserrat', sans-serif;
    --teenage-madness: 'teenage-madness', sans-serif;
}

@font-face {
    font-family: 'jungle';
    src: url('./fonts/junegull rg.otf') format('truetype');
}

@font-face {
    font-family: 'teenage-madness';
    src: url('./fonts/teenage-madness.regular.otf') format('truetype');
}

@font-face {
    font-family: 'Olives';
    src: url('./fonts/Olives.ttf') format('truetype');
}

@font-face {
    font-family: 'montserrat';
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

body {
    background-color: var(--color-entspannt-beige);
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.content {
    width: 900px;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 340px;
}

.App-logo {
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.left, .right {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: auto;
}

.right {
    height: auto;
    padding: 25px;
    text-align: left;
}

.left {
    height: auto;
    padding: 25px;
    text-align: left;
}

img {
    background-color: transparent;
    max-width: 100%;
    height: auto;
}

.marginBottom {
    margin-bottom: 30px;
}

p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .content {
        width: 100%;
        padding: 0 15px;
        margin-top: 175px
    }
}

@media (max-width: 768px) {
    .right, .left {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .right, .left {
        padding: 10px;
        margin-top: 175px
    }
}
